.header {
  padding: 4rem 8rem;
  display: flex;
  justify-content: space-between;
  &__content {
    display: none;
    @media (min-width: 1025px) {
      display: flex;
      width: 60%;
      justify-content: space-between;
    }
  }

  &__nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__link {
    line-height: 20px;
    color: $black;
    font-family: $font-secondary;
  }
}
