.container {
  padding: 4rem 5rem;
}

.heading-1 {
  font-size: 4rem;
  font-family: $font-secondary;
  line-height: 6rem;
  letter-spacing: 1px;
  margin-bottom: 2rem;
}

.heading-3 {
  font-size: 2rem;
  margin-bottom: 4rem;
  line-height: 4rem;
}
