.btn {
  padding: 1.5rem 3.5rem;
  border-radius: 0;
  border: none;
  line-height: 20px;
  text-transform: uppercase;
  font-family: $font-tertiary;
  cursor: pointer;
  &-primary {
    background-color: $secondary;
    color: $white;
    box-shadow: 0 0 30px 7px rgba(25, 104, 252, 0.2);
  }
}
