.featureCard {
  box-shadow: 0 20px 60px rgba(49, 69, 244, 0.1);

  @media (min-width: 1025px) {
    width: calc(100% / 3 - 50px);
  }
  &__picture {
    width: 50%;
  }
  &__name {
    display: flex;
    align-items: center;
  }

  &__icon {
    width: 80px;
    height: 80px;
    @media (min-width: 1025px) {
      max-width: 120px;
      max-height: 120px;
    }
  }

  &__description {
    background-color: $white;
    line-height: 30px;
    font-size: 1.6rem;
    padding: 3rem 4rem;
  }
}
